/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/base/ui-variables.less#L37:L40
*/
@import "base/ui-variables";

/*       ------ Custom Color Setup ------            */

/*       ------ Color Definitions  ------            */

/* Pantone 533 C = #1f2a44 */
/* Pantone 534 C = #1b365d */
/* GMK TU2 Color Code = rgba(37, 205, 197, 1) */
/* GMK N6 Color Code = rgba(252, 225, 30, 1) */

@pantone533C: #1f2a44;
@pantone534C: #1b365d;
@gmkTU2: #25cdc5;
@gmkN6: #fce11e;

/*       ------ GMK Nautilus Colorway  ------        */

/* Alphas are Pantone 534 C */
/* Alphas legends are TU2 */
/* Modifiers are Pantone 533 C */
/* Modifiers legends are GMK N6 (GMK Color Code) -  */
/* Alternate modifiers are GMK N6 */
/* Alternate modifiers legends are Pantone 533 C */

@alphaColor: @pantone534C;
@alphaLegendColor: @gmkTU2;
@modifierColor: @pantone533C;
@modifierLegendColor: @gmkN6;
@alternateModifierColor: @gmkN6;
@altModifierColor: @pantone533C;

@gray-base: #ffffff;
@gray-darker: darken(@gray-base, 13.5%);
@gray-dark: darken(@gray-base, 20%);
@gray: darken(@gray-base, 33.5%);
@gray-light: darken(@gray-base, 46.7%);
@gray-lighter: darken(@gray-base, 92.5%);
@white: #0a0a0a;

@accent-primary:            @modifierLegendColor;
@accent-primary-dark:       @modifierLegendColor;

@background-primary: darken(@alphaColor, 10%);
@background-off-primary: @alphaColor;
@background-secondary: @alphaColor;
@background-tertiary: @modifierLegendColor;

@border-color-primary: lighten(@background-primary, 10%);
@border-color-secondary: lighten(@background-secondary, 10%);
@border-color-tertiary: lighten(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

@text-color: @alphaLegendColor;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: @alphaColor;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: @modifierLegendColor; /* buttons along top */

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: @alphaColor;
@dropdown-default-bg-color: @alphaColor; /*dropdown bg color */

@input-bg: @alphaColor;
@input-border: @border-color-divider;

@list-bg: @alphaLegendColor;
@list-border: fade(@modifierLegendColor, 50%);
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: @background-secondary;
@panel-background-color: @background-secondary;
